<!-- login.html -->

{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sign In to Fake Bank{% endblock %}
{% block head %}Sign In to Fake Bank{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password don't match. Please try again.</p>

    {% endif %}

    <!--
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
        </table>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="/home" />
    </form>
    <a href="/register">Register</a>

--><div class="logo">
<img src=" {% static 'css/imageedit_1_9234982252.png'%}" width="170px" height='170px' >

</div>
    <form class="form" method="post" action="." >{% csrf_token %}

        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit"  value="Login" id="login-button">Login</button>
        <button type="button" onclick="window.location.href='/register/' ">Register</button>
        <input type="hidden" name="next" value="/home" />
    </form>

{% endblock %}
