<!-- home.html -->

{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css '%}">
{% endblock %}
{% block content %}
    <h1> Welcome {{ user.username }} !!! <br></h1>
    <p> <br>Please Choose Your Preferred Second Factor Authentication Method </p>
    <br>
    <div class="option">
    <div>
        <input type="radio" name="radio" id="radio1" class="radio" checked/>
        <label for="radio1">SMS</label>
    </div>

    <div>
        <input type="radio" name="radio" id="radio2" class="radio"/>
        <label for="radio2">Voice Message</label>
    </div>

    <div>
        <input type="radio" name="radio" id="radio3" class="radio"/>
        <label for="radio3">Push Notification</label>
    </div>

    <div>
        <input type="radio" name="radio" id="radio4" class="radio"/>
        <label for="radio4">Telepathy</label>
    </div>
    </div>
    <br>
    <button type="button" onclick="window.location.href= ">Send Code</button>
    <br>
    <br>
    <button type="button" onclick="window.location.href='/logout/' ">Logout</button>
{% endblock %}
