<!-- home.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css '%}">#}

{% endblock %}
{% block content %}
    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        //var codefield = $('input[name=codefield]')[0];
        //codefield.style.display = 'none';

        var sendcode_button = $('button[name=sendcode]')[0];

        var six_digit_form = $('form[name=six_digit_form]')[0];
        var confirm_button = $('button[name=confirmcode]')[0];
        six_digit_form.style.display = 'none';
        confirm_button.style.display = 'none'
        $("input[type=radio]").click(function(){
            console.log($('input:checked')[0].id)
            if($('input:checked')[0].id=='radio4'){
                sendcode_button.style.display = 'none';
                six_digit_form.style.display = 'block';
                confirm_button.style.display = 'none'

            }
            else{
                sendcode_button.style.display = 'inline';
                six_digit_form.style.display = 'none';
                confirm_button.style.display = 'none'
            }
        });
    });
{#    document.getElementsByName('codefield')[0].style.display = 'none';#}
{#    function hideCodeField(){#}
{##}
{#        if(document.getElementById('radio4').checked){#}
{#            document.getElementsByName('codefield')[0].style.display = 'block';#}
{#        }#}
{#        else{#}
{#            document.getElementsByName('codefield')[0].style.display = 'none';#}
{#        }#}
{#    }#}

{#    document.getElementById('radio4').addEventListener("click", function(){#}
{#        hideCodeField();#}
{#    });#}
{##}

    </script>
    <h1> Welcome {{ user.username }} !!! <br></h1>

    <a style="color:white;" href="{% url 'getting_started_symantec' %}">Register Credentials With Symantec VIP</a>

    <p> <br>Please Choose Your Preferred Second Factor Authentication Method </p>
    <br>
    <div class="option">
      <div>
          <input type="radio" name="radio" id="radio1" class="radio" checked/>
          <label for="radio1">SMS</label>
      </div>

      <div>
          <input type="radio" name="radio" id="radio2" class="radio"/>
          <label for="radio2">Voice Message</label>
      </div>

      <div>
          <input type="radio" name="radio" id="radio3" class="radio"/>
          <label for="radio3">Push Notification</label>
      </div>

      <div>
          <input type="radio" name="radio" id="radio4" class="radio"/>
          <label for="radio4">6-digit Code</label>
      </div>
    </div>
    <br>

    {% include "six_digit_form.html" %}
    <form class='btns' method="get" action = '.'>
    <br>

        <button type="button" name='sendcode' onclick="window.location.href='/sent/' " >Send</button>

        <button type="button" name= 'confirmcode' onclick="window.location.href='/result/' ">Confirm</button>

        <button type="button" onclick="window.location.href='/logout/' ">Logout</button>

    </form>
    <br>
    <br>
    <br>




{% endblock %}
